#landing
  %div.about
    .text
      %h1 Did That Fit.me ?

      %h2 Keep track of how brands fit you.

      %p Sometimes the clothes you buy don't quite fit you. The next time you go to buy from that same brand, you may forget - DidThatFit will help you keep track of those items, and recommend you sizes of other brands!

      %p= "Upload photos of your clothing and make a note of how it fit you. Your fit history is where you'll see how all the brands you've already bought and loved fair. "# + link_to("Sign up now!",new_user_path) ).html_safe

  %div.howto
    %div.text
      %h1 But.. how?

      %h2 How to use DidThatFit

      %p It's best to add your measurements into yout profile when you sign up - this is to help with size reccomendations. If you don't have a tape measure on you, you an always add these later!

      %p You can upload a photo of you in your clothes or the official product photo - who doesn't love online shopping?

      %p Just remember to add the size that your bought, and how it fit you!

      %p You can follow your friends, or other people with awesome style!

  %div.contact
    %div.text
      %h1 Contact

      %h2 Questions? Bugs? Feedback?

      %p Send an email over to &#115;&#116;&#114;&#097;&#119;&#119;&#119;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109; or a tweet to <a href="http://twitter.com/strawz" target="_blank">@strawz</a> and it'll get sorted!

