%div.about
  .text
    %h1 Did That Fit.me ?

    %h2 Keep track of how brands fit you.

    %p Sometimes the clothes you buy don't quite fit you. The next time you go to buy from that same brand, you may forget.

    %p DidThatFit will help you keep track of those items, and recommend you sizes of other brands.

  -# %p You can also see people who are similar sizes to

%div.contact
  .text
    %h2 Contact

    %h3 Questions? Bugs? Feedback?

    %p Send an email over to &#115;&#116;&#114;&#097;&#119;&#119;&#119;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109; or a tweet to <a href="http://twitter.com/strawz" target="_blank">@strawz</a> and it'll get sorted!

