#landing
  %div.about
    .text
      %h1 Did That Fit.me ?

      %h2 Keep track of how brands fit you.

      %p Sometimes the clothes you buy don't quite fit you. The next time you go to buy from that same brand, you may forget - DidThatFit will help you keep track of those items, and recommend you sizes of other brands!

      %p= "Upload photos of your clothing and make a note of how it fit you. Your fit history is where you'll see how all the brands you've already bought and loved fair. "# + link_to("Sign up now!",new_user_path) ).html_safe

  %div.contact
    .text
      %h1 Contact

      %h2 Questions? Bugs? Feedback?

      %p Send an email over to &#115;&#116;&#114;&#097;&#119;&#119;&#119;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109; or a tweet to <a href="http://twitter.com/strawz" target="_blank">@strawz</a> and it'll get sorted!

