/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

html, body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

a:link {
  text-decoration: none;
}
.navbar {
  /*background-color: red;*/
}
.container {
  padding: 0 0 5em 0;
  min-height: 50em;
  border: 1px solid #ddd;
  margin-top: -2em;
  background-color: #eee;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fff), to(#eee));
  background: -webkit-radial-gradient(circle, #fff, #eee);
  background: -moz-radial-gradient(circle, #fff, #eee);
  background: -ms-radial-gradient(circle, #fff, #eee);
}

#content {
  max-width: 95%;
  margin: auto;
  padding: 0 5em 5em 5em;
  /*margin-top: -5em;*/
}

.items {
  }

.item, .user, .brand {
  display: inline-table;
  vertical-align: top;
  padding: .5em;
  margin: .7em;
  background: #ddd;
  width: 130px;
  max-height: 130px;
  text-align: center;
  position: relative;
  border-radius: 5%;
  border: 1px solid #aaa;
}

.usermodbutton, .itemmodbutton, .brand.med form.itemmodbutton {
  font-size: .8em;
  position: absolute;
  bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}

form.usermodbutton div input[type="submit"], form.itemmodbutton div input[type="submit"] {
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fff), to(#eee));
  background: -webkit-radial-gradient(circle, #fff, #eee);
  background: -moz-radial-gradient(circle, #fff, #eee);
  background: -ms-radial-gradient(circle, #fff, #eee);
  border: 1px solid #ddd;
  border-radius: .3em;
  /*background-color: red;*/
}

form.usermodbutton div input[type="submit"]:hover, form.itemmodbutton div input[type="submit"]:hover {
  background: #aaa;
}

.itemmodbutton {
  left: 10px;
}

.itemmodbutton:first-of-type {
  bottom: 35px;
}

.itembutton:last-of-type {
}

.brand.med {
  position: relative;
}

.brand.med form.itemmodbutton {
  left: 10px;
}

.brand.med form.itemmodbutton:first-of-type {
  bottom: 35px;
}

.brand.med form.itembutton:last-of-type {
}

.usermodbutton {
  right: 10px;
}

.usermodbutton:first-of-type {
  bottom: 55px;
}

.usermodbutton.admin {
  bottom: 30px;
}

.usermodbutton:last-of-type {
  bottom: 5px;
}

.item:hover > .itemmodbutton, .item:hover > .brandbubble, .user:hover > .usermodbutton, .user:hover > .namebubble, .brand.med:hover > form.itemmodbutton {
  display: inline-block;
}

.item img, .user img, .brand img {
  border-radius: 15%;
  width: 120px;
  height: 120px;
  vertical-align: middle;
}

.smallbox {
  width: 70px;
  height: 70px;
  /*overflow: hidden;*/
}

.smallbox img {
  max-width: 60px;
  max-height: 60px;
}

.med {
  width: 110px;
  height: 110px;
  overflow: hidden;
}

.med img {
  width: 100px;
  height: 100px;
}


.brandbubble {
  width: 60px;
  height: 60px;
  background: #000;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 40%;
  border-bottom-right-radius: 0;
  overflow: hidden;
  display: none;
}

.brandbubble img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.namebubble {
  /*width: 60px;*/
  /*height: 2em;*/
  /*line-height: 2em;*/
  background: #bbb;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 2em;
  overflow: hidden;
  display: none;
  padding: .4em;
}

.fitbubble {
  width: 30px;
  height: 30px;
  background: #999;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 40%;
  border-bottom-left-radius: 0;
  font-size: 1.7em;
}

.fitbubble.right {
  /*background: #3af000;*/
}

.fitbubble.big {
  /*background: #bf0000;*/
}

.fitbubble.small {
  /*background: #0000bf;*/
}

.weathersummary {
  text-align: center;
}

.field_with_errors input {
  background-color: #aae7ff;
}

.field_with_errors + label {
  display: inline-block;
}

.errors {
  background: #eee;
  right: 50px;
  width: 30em;
  padding: 2em;
  /*position: fixed;*/
  /*z-index: 100;*/
  border-radius: 2em;
  border: 1px solid #ddd;
}

.errors ul {
  list-style: none;
}

.formgroup > * {
  margin-bottom: 1em;
}

footer {
  width: 95%;
  text-align: center;
}