@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800italic,800,900,900italic);

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  text-align:center;
  background: red;
  position: relative;
  z-index: 100;
}

nav ul {
  list-style: none;
  margin: auto;
}

nav ul li {
  display: inline-block;
  padding-top: 2em;
}

nav ul li a {
  padding:1em;
  background: #bf0000;
}

#wrap {
  max-width: 960px;
  margin: auto;
  background: yellow;
}

#content {
  max-width: 95%;
  margin: auto;
  padding-top: 5em;
  margin-top: -5em;
}

.item {
  display: inline-table;
  vertical-align: top;
  padding: .5em;
  margin: .1em;
  background: #ddd;
  width: 220px;
  height: 238px;
  text-align: center;
}

.item img {
  border-radius: 15%;
}

.right {
  background: #00bf00;
}

.big {
  background: #bf0000;
}

.small {
  background: #0000bf;
}

.item form {
  display: inline-block;
  font-size: .8em;
  margin: .2em;
}

footer {
  width: 95%;
  text-align: center;
}