@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  text-align:center;
  background: red;
  position: relative;
  z-index: 100;
}

nav ul {
  list-style: none;
  margin: auto;
}

nav ul li {
  display: inline-block;
  padding-top: 2em;
}

nav ul li a {
  padding:1em;
  background: #bf0000;
}

#wrap {
  max-width: 960px;
  margin: auto;
  background: yellow;
  min-height: 50em;
}

#content {
  max-width: 95%;
  margin: auto;
  padding: 5em;
  margin-top: -5em;
}

.item {
  display: inline-table;
  vertical-align: top;
  padding: .5em;
  margin: .1em;
  background: #ddd;
  width: 165px;
  height: 165px;
  text-align: center;
  position: relative;
}

.item img {
  border-radius: 15%;
  width: 150px;
  height: 150px;
}

.right {
  background: #00bf00;
}

.big {
  background: #bf0000;
}

.small {
  background: #0000bf;
}

.item form.modbutton {
  display: inline-block;
  font-size: .8em;
  margin: .2em;
  position: absolute;
  bottom: 9px;
}

.item form.modbutton:first-of-type {
  left: 35px;
}

.item form.modbutton:lsst-of-type {
  right: 1px;
}

footer {
  width: 95%;
  text-align: center;
}